
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-1-vuv {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #969595;
  box-sizing: border-box;
  background-color: #1a1a1a;
  border-radius: 4.8rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 44.8rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .rectangle-1-Zzp {
  width: 43rem;
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(116.27deg, #e25319 2.98%, #772200 98.44%);
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .rectangle-2-DZa {
  width: 38.8rem;
  height: 20.9253rem;
  position: absolute;
  left: 2.1rem;
  top: 23.8747rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 2.1rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-1-tfi {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 6.1473rem;
  top: 7.386rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg.png');
  border-radius: 4.5rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-2-Nat {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 5.6473rem;
  top: 6.886rem;
  border: solid 0.2rem #f5f5f5;
  box-sizing: border-box;
  border-radius: 5rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .emily-sherman-HC4 {
  width: 17.3rem;
  height: 3rem;
  position: absolute;
  left: 20.3rem;
  top: 6.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(255, 255, 255, 0.7799999714);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .daily-activity-wnQ {
  width: 12.7rem;
  height: 2.5rem;
  position: absolute;
  left: 5.1rem;
  top: 27.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .item-36-RxU {
  width: 3.2rem;
  height: 3rem;
  position: absolute;
  left: 22.4rem;
  top: 11.186rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .item-24-Wyv {
  width: 3.2rem;
  height: 3rem;
  position: absolute;
  left: 32.7786rem;
  top: 11.35rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .workouts-oy2 {
  width: 7.3rem;
  height: 2rem;
  position: absolute;
  left: 20.4rem;
  top: 15.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .walking-7yi {
  width: 6rem;
  height: 2rem;
  position: absolute;
  left: 5.3rem;
  top: 39.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .swimming-dSG {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 17.6828rem;
  top: 39.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .cycling-8dv {
  width: 5.6rem;
  height: 2rem;
  position: absolute;
  left: 31.6rem;
  top: 39.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .hours-QrL {
  width: 4.5rem;
  height: 2rem;
  position: absolute;
  left: 32.2286rem;
  top: 15.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-3-KiQ {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 5.3rem;
  top: 31.4rem;
  background-color: #772200;
  border-radius: 3.5rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-7-4AC {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 18rem;
  top: 31.4rem;
  background-color: #d9d9d9;
  border-radius: 3.5rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-9-PCU {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 18rem;
  top: 31.4rem;
  background-color: #772200;
  border-radius: 3.5rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-10-KM2 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 30.75rem;
  top: 31.4rem;
  background-color: #772200;
  border-radius: 3.5rem;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-6-Eyn {
  width: 9.3446rem;
  height: 9.3446rem;
  position: absolute;
  left: 4.1277rem;
  top: 30.2277rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-8-AcY {
  width: 9.3446rem;
  height: 9.3446rem;
  position: absolute;
  left: 16.8277rem;
  top: 30.2277rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .ellipse-11-JTr {
  width: 9.3446rem;
  height: 9.3446rem;
  position: absolute;
  left: 29.5777rem;
  top: 30.2277rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .vector-Sa4 {
  width: 3.7rem;
  height: 2.1713rem;
  position: absolute;
  left: 19.65rem;
  top: 33.7615rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .vector-aRN {
  width: 2rem;
  height: 3.1999rem;
  position: absolute;
  left: 7.6rem;
  top: 33.2472rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-vuv .auto-group-b81n-vYY .vector-uyS {
  width: 3.2rem;
  height: 2.4007rem;
  position: absolute;
  left: 32.8rem;
  top: 33.6468rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-vuv .goal-TEG {
  margin: 0rem 0rem 2rem 4.388rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .workouts-ZHJ {
  margin-left: 4.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g {
  width: 100%;
  height: 39.9rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-cakg-Dck {
  width: 28.3rem;
  height: 5rem;
  position: absolute;
  left: 7.4rem;
  top: 31.45rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-znnu-9FW {
  width: 38.8277rem;
  height: 11.607rem;
  position: absolute;
  left: 2.1rem;
  top: 16.5737rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-znnu-9FW .auto-group-4gxy-FZS {
  margin: 0.326rem 2.028rem 0rem 0rem;
  box-sizing: border-box;
  padding: 3.014rem 2.5rem 2.639rem 2.5rem;
  width: 18.4rem;
  border: solid 0.1rem #000000;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-znnu-9FW .auto-group-4gxy-FZS .item-5674-wx4 {
  margin-bottom: 0.6277rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e25319;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-znnu-9FW .auto-group-4gxy-FZS .steps-sap {
  margin-left: 0.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-znnu-9FW .auto-group-rkfs-92Y {
  margin-bottom: 0.3263rem;
  box-sizing: border-box;
  padding: 3.014rem 2.5rem 2.639rem 2.5rem;
  width: 18.4rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-znnu-9FW .auto-group-rkfs-92Y .item-5674-fWg {
  margin-bottom: 0.6277rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e25319;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-znnu-9FW .auto-group-rkfs-92Y .steps-mpc {
  margin-left: 0.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .desired-weight-UDE {
  width: 12.8rem;
  height: 2.2rem;
  position: absolute;
  left: 4.4rem;
  top: 7rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-btbn-kwS {
  width: 34.8604rem;
  height: 2.2rem;
  position: absolute;
  left: 4rem;
  top: 2.8rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-btbn-kwS .item-0-3vY {
  margin-right: 10.1277rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-btbn-kwS .item-16-xnc {
  margin-right: 19.2327rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #e25319;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-btbn-kwS .item-50-JLg {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-ltbj-qbW {
  width: 34.8604rem;
  height: 2.2rem;
  position: absolute;
  left: 4rem;
  top: 12rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-ltbj-qbW .item-0-NbS {
  margin-right: 16.7277rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-ltbj-qbW .item-58-v7A {
  margin-right: 12.3327rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #e25319;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-ltbj-qbW .item-50-4DN {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #969595;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-sm2x-CqN {
  width: 34.8rem;
  height: 0.4rem;
  position: absolute;
  left: 4.1rem;
  top: 2rem;
  border-top: solid 0.4rem #e25319;
  box-sizing: border-box;
}
.iphone-14-15-pro-max-1-vuv .auto-group-3diy-t4g .auto-group-l9jw-8DE {
  width: 34.8rem;
  height: 0.4rem;
  position: absolute;
  left: 4.1rem;
  top: 11.2rem;
  border-top: solid 0.4rem #e25319;
  box-sizing: border-box;
}
