
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-2-9FN {
  border: solid 0.1rem #969595;
  padding: 3.454rem 2.1rem 9.2rem 2.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 4.8rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .auto-group-rkky-1YU {
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 3.446rem 0.383rem;
    width: 3.8rem;
    height: 3.8rem;
    object-fit: contain;
  }
  .monday-ihn {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 1.3rem 0.3rem;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.2125;
  }
  .oct-29-2020-q1i {
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 3.7rem 0.3rem;
    font-size: 2rem;
  }
  .auto-group-2ugy-9HJ {
    width: 35.0379rem;
    height: 5.2rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 3.3rem 0.3rem;

    .frame-2-fmS {
      column-gap: 3.8rem;
      align-items: center;
      width: 32.3rem;
      height: 2.5rem;
      position: absolute;
      left: 2.7379rem;
      top: 1.4rem;
      display: flex;

      .walking-atQ {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .swimming-Kqz {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2125;
        color: rgba(255, 255, 255, 0.4799999893);
      }
      .cycling-B7W {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2125;
        color: rgba(255, 255, 255, 0.4799999893);
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-9-WQg {
      top: 0;
      border: solid 0.1rem #e25319;
      box-sizing: border-box;
      border-radius: 5.5rem;
      width: 12.7281rem;
      height: 5.2rem;
      position: absolute;
      left: 0;
    }
  }
  .component-1-2P2 {
    margin: 0rem 0.1rem 5.2rem 0.1rem;
    box-sizing: border-box;
    width: calc(100% - 0.2rem);
    display: flex;
    background-color: #000000;
    padding: 3rem 0rem 4.5rem 2.9rem;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2.1rem;
    flex-shrink: 0;

    .auto-group-cjrs-uxc {
      margin-bottom: 0.8rem;
      width: 100%;
      height: 24.9rem;
      position: relative;
      flex-shrink: 0;

      .group-2-rN4 {
        width: 32.3rem;
        height: 19.2953rem;
        top: 3.6105rem;
        background-size: cover;
        position: absolute;
        left: 3.4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:5:103');

        .vector-2-NrC {
          object-fit: contain;
          vertical-align: top;
          width: 32.3rem;
          height: 19.2953rem;
        }
      }
      .frame-4-ubE {
        width: 4rem;
        height: 22.7rem;
        position: absolute;
        left: 0;
        top: 0;
        row-gap: 5.7rem;
        display: flex;
        flex-direction: column;

        .cal-3Be {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .cal-aBa {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .cal-ioa {
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1rem;
        }
        .cal-GKJ {
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .ellipse-15-pLp {
        top: 2.8605rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4318rem;
        height: 1.5rem;
        position: absolute;
        left: 12.4rem;
      }
      .line-5-YGp {
        width: 0.2rem;
        height: 20.5395rem;
        position: absolute;
        left: 13.0159rem;
        top: 4.3605rem;
        background-color: #e25319;
      }
      .item-685-UgG {
        width: 2.2rem;
        position: absolute;
        left: 15.3rem;
        top: 1.3rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.4rem;
        font-size: 1.1rem;
        line-height: 1.2125;
        color: #e25319;
      }
      .kcal-Bag {
        white-space: nowrap;
        width: 2rem;
        line-height: 1.2125;
        left: 17.9rem;
        top: 1.3rem;
        font-size: 1rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 1.3rem;
        position: absolute;
      }
    }
    .frame-5-gnL {
      display: flex;
      column-gap: 4.7rem;
      align-items: center;
      flex-shrink: 0;
      margin-right: 0.4rem;

      .pm-dBn {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .pm-NfA {
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .pm-hhS {
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .pm-rKS {
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .pm-bXv {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-w9gt-g3a {
    display: flex;
    column-gap: 4.1rem;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 13.6rem;

    .auto-group-6zoj-odz {
      width: 10.2rem;
      align-items: center;
      display: flex;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.1rem;
      box-sizing: border-box;
      padding: 2.947rem 2.617rem 1.747rem 2.883rem;
      height: 100%;
      flex-direction: column;
      background-color: #e25319;
      flex-shrink: 0;

      .vector-WYQ {
        width: 2rem;
        height: 3.1999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.653rem 0rem;
      }
      .item-293-d7E {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0529rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
      .kcal-MJ8 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.2667rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .auto-group-thbv-3Rr {
      width: 10.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #000000;
      box-sizing: border-box;
      padding: 3.562rem 2.75rem 1.747rem 2.75rem;
      flex-shrink: 0;
      flex-direction: column;
      border-radius: 2.1rem;

      .vector-yKW {
        height: 2.1713rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.0672rem;
        width: 3.7rem;
      }
      .item-293-iH6 {
        font-weight: 700;
        line-height: 1.2125;
        color: #e25319;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0529rem;
        font-size: 2.4rem;
      }
      .kcal-3qA {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #969595;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-j1iq-9NQ {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #000000;
      padding: 3.562rem 2.65rem 1.747rem 2.75rem;
      width: 10.2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      border-radius: 2.1rem;
      flex-shrink: 0;

      .vector-Ghv {
        margin: 0rem 0.1rem 0.838rem 0rem;
        width: 3.2rem;
        height: 2.4007rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-250-c16 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0529rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e25319;
        font-family: Inter, 'Source Sans Pro';
      }
      .kcal-wZA {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #969595;
      }
    }
  }
}
