
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.5rem;
}.frame-1-2oz {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  box-sizing: border-box;
  padding: 11.4rem 2.25rem 12.4rem 2.25rem;
  width: 100%;

  .front-kdW {
    width: 33.6rem;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2.5867rem;
    height: 19.2rem;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
    margin-right: 4.8rem;

    .auto-group-6cqp-oVJ {
      flex-shrink: 0;
      margin: 2.5rem 4.413rem 2.556rem 0rem;
      width: 10.5rem;
      height: calc(100% - 5.0556rem);

      .your-name-position-6UQ {
        margin: 0rem 0rem 6.244rem 0.113rem;
        display: flex;
        flex-direction: column;

        .name-27A {
          margin-bottom: 0.2rem;
          font-size: 1.4rem;
          line-height: 1.2000000817;
          display: flex;
          flex-shrink: 0;
          font-weight: 700;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;

          .name-27A-sub-0 {
            font-family: Syne, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2;
            color: #0071bc;
          }
          .name-27A-sub-1 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2;
            color: #000000;
            font-family: Syne, 'Source Sans Pro';
          }
          .name-27A-sub-2 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2;
            color: #f7931e;
            font-family: Syne, 'Source Sans Pro';
          }
        }
        .position-NsA {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .contract-ucC {
        width: 100%;
        row-gap: 0.5rem;
        display: flex;
        flex-direction: column;

        .phone-epg {
          padding-left: 0.0833rem;
          width: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 1.7rem;
          box-sizing: border-box;

          .akar-icons-phone-aCY {
            margin: 0rem 0.583rem 0rem 0rem;
            width: 0.8333rem;
            height: 0.8334rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .number-tDE {
            font-size: 0.8rem;
            font-weight: 300;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .email-8Wt {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 0.125rem;
          width: 100%;

          .line-md-email-5S8 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.625rem 0rem 0rem;
            width: 0.75rem;
            height: 0.5833rem;
          }
          .email-1Kn {
            font-weight: 300;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 0.8rem;
          }
        }
        .location-jFn {
          padding-left: 0.2143rem;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 0.1rem;
          box-sizing: border-box;

          .system-uicons-location-fv8 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.119rem 0.714rem 0rem 0rem;
            width: 0.5714rem;
            height: 0.7639rem;
          }
          .address-nzk {
            font-size: 0.8rem;
            font-weight: 300;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 8.9rem;
          }
        }
      }
    }
    .auto-group-ki1n-i7i {
      width: 16.3rem;
      height: 19.2rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .back-pRe {
    display: flex;
    border-radius: 1rem;
    padding-top: 3.6rem;
    align-items: center;
    height: 19.2rem;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    background-color: #141717;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 33.6rem;

    .conpany-name-logo-Let {
      box-sizing: border-box;
      padding-top: 0.0081rem;
      width: calc(100% - 20.2rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 10.1rem 4.2rem 10.1rem;

      .logo-F1A {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.17rem 1.426rem 0rem;
        width: 3.9524rem;
        height: 3.8661rem;
        position: relative;
      }
      .company-name-9sE {
        margin-bottom: 0.7rem;
        width: 13.4rem;
        height: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tag-line-goes-here-UuW {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: 8.1rem;
        height: 0.8rem;
      }
    }
    .shape-1eY {
      width: 33.7rem;
      height: 3.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
